 {{#each this}}
    <li class='list-movies__block'>
      <article class='movie' data-id='{{id}}'>
        <div class="img-thumb">
          <img class='movie__img' src='{{poster_path}}' alt='poster-{{original_title}}'/>
        </div>
        <h2 class='movie__title'>{{original_title}}</h2>
        <span class='movie__description'>{{genre}}|{{release_date}}</span>
      </article>
    </li>
{{/each}}